<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Posts </title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Create New Post ✍️</h1>
    <form method="post" action="/posts">
        <input  placeholder="Enter UserName" name="username" required /> <br /><br />
        <textarea placeholder="Write Your Post" name="content" rows="5" required></textarea><br />
        <button type="submit">Submit Post</button>
    </form>
</body>
</html>