<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Post In Details</title>
</head>
<body>
    <h1>Here Your Post In detail</h1>
    <div class="post">
        <h2 class="user">@<%=post.username%></h2>
        <h2 class="content"><%=post.content%></h2>
    </div>
</body>
</html>