* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}


body {
    background: linear-gradient(135deg, #e0f7fa, #f1f8e9);
    min-height: 100vh;
    padding: 30px;
}

.container {
    max-width: 900px;
    margin: auto;
} 


h1 {
    color: #00796B;
} 

.post {
    background-color: #ffffff ;
    padding: 20px;
    margin: 20px 0;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: tansform 0.2s ease;
}  

.post:hover {
    transform: scale(1.02);
}

.user {
    font-style: italic;
    color: #1976D2;
    margin-bottom: 10px;
} 

.content {
    color: #333;
    font-size: 16px;
    line-height: 1.6;
} 

form {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    max-width: 500px;
    margin: 30px auto;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
} 

.inline-form {
    display: inline;
} 

.delete-form {
    background: none;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}

a, button {
    display: inline-block;
    padding: 8px 14px;
    margin: 4px 4px;
    font-size: 14px;
    font-weight: 500;

    color: white;
    background-color: #00796B;

    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
}

a:hover, button:hover {
    background-color: #004D40;
}